.about-us {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      align-self: left;
      padding-top: 50px;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      align-self: left;
      padding-top: 50px;
      grid-column: span 4;
    }
  }

  &__description {
    margin: 0;
    grid-column: 1 / -1;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    @include on-tablet {
      padding-top: 120px;
      grid-column: 4 / 7;
      margin-bottom: 64px;
    }

    @include on-desktop {
      padding-top: 120px;
      grid-column: 6 / 12;
      margin-bottom: 80px;
    }
  }
}
