.compared {
  &__products {
    @include page-grid;

    row-gap: 40px;

    @include on-tablet {
      justify-items: center;
    }

    @include on-desktop {
      column-gap: 24px;
      justify-items: stretch;
    }
  }
}
