.main {
  background-color: $main-background-color;
  position: relative;
  z-index: 1;

  &__content {
    display: grid;
    row-gap: 92px;

    @include on-tablet {
      row-gap: 120px;
    }
  }
}
