.menu {
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $main-background-menu-color;

  &__top {
    padding-top: 24px;
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $main-background-menu-color;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    margin-bottom: 16px;
    color: $main-background-color;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 27px;
  }

  &__test-ride {
    color: $main-background-color;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid $main-background-color;
    width: fit-content;
  }
}
