.product {
  grid-column: 1 / -1;

  &__link {
    display: block;

    @include transition;

    &:hover {
      @include transform;
    }
  }

  &__photo {
    width: 100%;
  }

  @include on-tablet {
    grid-column: 1 / 7;
  }

  @include on-desktop {
    grid-column: span 4;
  }
}
